@tailwind base;
@tailwind components;
@tailwind utilities;

.feet{
    color: "blue"
}

/*add the code bellow*/
@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

#pricing-items{
    @apply h-[75vh] p-5 w-[50vh]
}

html {
    @apply scroll-smooth
}